<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置自动扫描的包-->
    <context:component-scan base-package="com.tianzhao.crowd"/>
    <!-- 配置SpringMVC的注解驱动-->
    <mvc:annotation-driven/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:view-controller path="/admin/to/login/page.html" view-name="admin-login"></mvc:view-controller>
    <mvc:view-controller path="/admin/to/main/page.html" view-name="admin-main"></mvc:view-controller>
    <mvc:view-controller path="/admin/to/add/page.html" view-name="admin-add"></mvc:view-controller>
    <mvc:view-controller path="/role/to/page.html" view-name="role-page"></mvc:view-controller>
    <mvc:view-controller path="/menu/to/page.html" view-name="menu-page"></mvc:view-controller>


    <bean id="simpleMappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <property name="exceptionMappings">
        <props>
            <prop key="java.lang.Exception">system-error</prop>
        </props>
    </property>
    </bean>
    
    <mvc:interceptors>
        <mvc:interceptor>
            <!--配置要拦截的资源-->
            <mvc:mapping path="/**"/>
            <!--配置不拦截的路径-->
            <mvc:exclude-mapping path="/admin/to/login/page.html"/>
            <mvc:exclude-mapping path="/admin/do/login.html"/>
            <mvc:exclude-mapping path="/admin/do/logout.html"/>
            <bean class="com.tianzhao.crowd.mvc.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>



</beans>